{{page-title "Books"}}
<ul>
    {{#each @model as |book|}}
    <li>
        {{book.title}} <small>{{book.isbn}}</small>
        <button type="button" {{on "click" (fn this.removeBook book)}}>Remove</button>
    </li>
    {{/each}}
</ul>

<hr />
<form {{on "submit" this.createBook}}>
    <dl>
        <dt>Book title</dt>
        <dd>
            <Input @value={{this.newTitle}} placeholder="Thinking Fast and Slow" />
        </dd>
        <dt>ISBN</dt>
        <dd>
            <Input @value={{this.newIsbn}} placeholder="978-0374533557" />
        </dd>
        <dt>Author</dt>
        <dd>
            <Input @value={{this.newAuthor}} placeholder="Daniel Kahneman" />
        </dd>
    </dl>
    <button type="submit">Create</button>
</form>

{{outlet}}