<h3>Setup roles</h3>

<ul>
    {{#each @model as |account|}}
    <li>
        {{account.accountname}}
        <ul>
            {{#each account.roles as |role|}}
            <li>
                {{role.rolename}}
                <button type="button" {{on "click" (fn this.removeRole account role)}}>Remove</button>
            </li>
            {{/each}}
        </ul>
        <form {{on "submit" (fn this.addRole account)}}>
            <Input id={{account.accountname}} />
            <button type="submit">Add role</button>
        </form>

    </li>
    {{/each}}
</ul>

{{outlet}}