<h3>Settings to change</h3>

<form {{on "submit" this.saveChanges}}>
    <dl>
        <dt>Name</dt>
        <dd>
            <Input @value={{this.name}} placeholder={{@model.user.name}} />
        </dd>
        <dt>User name</dt>
        <dd>
            <Input @value={{this.accountname}} placeholder={{@model.accountname}} />
        </dd>
        <dt>Email address</dt>
        <dd>
            <Input @value={{this.email}} placeholder={{@model.email}} />
        </dd>
        <dt>Birth date</dt>
        <dd>
            <Input @type="date" @value={{this.birthdate}} placeholder={{@model.user.birthdate}} />
        </dd>
    </dl>
    <button type="submit">Save changes</button>
</form>

<h3>Change your password</h3>
<MuChangePassword />

<h3>To unregister click below</h3>
<MuUnregister />

{{outlet}}